body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  line-height: 1.5;
  text-size-adjust: 100%;
  color: rgb(44, 44, 44);
  background: rgb(255, 255, 255);
}

html {
  font-family: "Cera Pro", sans-serif;
}

.btn {
  background-color: blue;
  border-collapse: collapse;
  font-weight: 500;
  font-size: .875rem;
  text-align: center;
  color: white;
  padding: 1rem;
  border: 1px solid blue;
  border-radius: 4px;
  line-height: 1.2rem;
}

.col {
  margin: 1rem 0;
}

