.reviews-list {
  display: flex;
  flex-direction: column;
}

.reviews-list__title {
  margin: 1rem 0;
}

.reviews-list__filter {
  margin: 1rem 0;
  border: 1px solid rgb(224, 224, 224);
  padding: .75rem 0 .75rem 1.25rem;
  height: 3.45rem;
  align-items: center;
  display: flex;
}

.review {
  display: flex;
  flex-direction: column;
    padding: 1.5rem 0;
    border-top: 1px solid rgb(224, 224, 224);
}

.review__body {
  display: flex;
  justify-content: space-between;
}

.review__body-infos {
  display: flex;
  flex-direction: column;
}

.helpfulness-count {
  display: flex;
}

.helpfulness-count__helpful {
  margin: 1rem;
}
.helpfulness-count__not-helpful {
  margin: 1rem;
}