.reviews-statistics {
  display: flex;
  flex-direction: column;
}


.reviews-statistics__rating-breakdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: black 1px solid;
  padding-right: 3rem;
}

.reviews-statistics__overall-breakdown {
  display: flex;
  flex-flow: row wrap;
  padding: 1.25rem 0px 1rem;
}

.overall-experience {
  margin-left: 1rem;
}

.rating-box {
  margin: 1rem 0;
}

.reviews-overall {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
    padding: 0;
}

.reviews-overall__disclaimer {
  border-top: 1px solid black;
  padding: 1.25rem 0px;
  width: 100%;
}

.reviews-overall__write-review {
 margin: 1rem 1rem 1.25rem;
  width: auto;
}
